body {
  background: #f8f9fa;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: relative;
}

/* .catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  order: 3;
} */

.catalog__product {
  /* flex: 1 290px;
  max-width: 278px;
  height: 350px;
  background: #fff;
  position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #e4e5ec;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
}
*/ .catalog__product:hover {
  border: 2px solid #61d4df;
}

.catalog__product:hover .product__button {
  display: inline-block;
}

/* .catalog__photo {
  width: 250px;
  height: 191px;
  padding: 10px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog__photo img {
  max-width: 200px;
  max-height: 100%;
} */

.catalog__prices {
  padding: 0px 12px 5px 12px;
  border-top: 1px solid #e4e5ec;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalog__title {
  padding: 0px 12px 5px 12px;
  text-align: justify;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* .......header......... */

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  margin-bottom: 3px;
  background-color: #fff;
}
.nav__search-left {
  margin-left: 50px;
}
.nav__search {
  display: flex;
  justify-content: space-around;
  white-space: nowrap;
  margin-top: 25px;
  margin-bottom: 25px;
  flex-wrap: nowrap;
  box-sizing: none;
}
.search {
  border: 1 px solid black;
  display: flex;

  margin-right: 50px;
}
.nav__search-input {
  width: 300px;
  border: 1px solid rgba(95, 102, 115, 0.1);
  border-right: none;
  padding: 5px;
  height: 34px;
  border-radius: 5px 0 0 5px;
  outline: none;
  background-color: #ffff;
  color: black;
}

.nav__search-button {
  border: 1px solid rgba(95, 102, 115, 0.1);
  border-left: none;
  width: 40px;
  padding: 5px;
  height: 34px;
  background: white;
  text-align: center;
  color: #a8a4a4;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.selecallButton {
  text-transform: uppercase;
  white-space: nowrap;
  height: 32px;
  border-radius: 4px;
  border: none;
  background-color: #61d5df;
  font-family: Gilroy-bold;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #fff;
  padding: 0 14px;
  outline: 0;
  cursor: pointer;
  margin-right: 20px;
}
.clearSelected-button {
  text-transform: uppercase;
  white-space: nowrap;
  height: 32px;
  border-radius: 4px;
  border: none;
  background-color: #61d5df;
  font-family: Gilroy-bold;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #fff;
  padding: 0 14px;
  outline: 0;
  cursor: pointer;
}
.selected-title {
  height: 25px;
  font-family: Gilroy-med;
  font-style: normal;
  letter-spacing: normal;
  margin-right: 12px;
  white-space: nowrap;
  color: #29304b;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  padding: 10px;
  border-left: 1px solid rgb(180, 177, 177);
}
.inventoryButton__question {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.inventoryButton {
  background-color: #61d5df;
  border-style: none;
  font-family: Gilory-bold;
  cursor: pointer;
  border-radius: 4px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #fff;
  font-size: 12px;
  margin: 0px 0px 0px 10px;
  padding: 0px 14px;
  height: 32px;
}
.item__button {
  display: flex;
  justify-content: center;
  background-color: #61d5df;
  border-style: none;
  font-family: Gilory-bold;
  cursor: pointer;
  border-radius: 4px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #fff;
  font-size: 16px;
  margin: 0px 0px 0px 10px;
  padding: 11px 14px;
  height: 40px;
  width: 180px;
}
.help-menu {
  font-family: Gilroy-Bold;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  border: 2px solid #49547d;
  width: 24px;
  height: 24px;
  background-color: #fdfcfc;
  color: #49547d;
  border-radius: 50%;
  font-weight: bolder;
  outline: 0;
  cursor: pointer;
  margin: 0;
  box-sizing: border-box;
  margin-left: -0px;
}

.clear-selected {
  text-transform: uppercase;
  white-space: nowrap;
  height: 32px;
  border-radius: 4px;
  border: none;
  background-color: #61d5df;
  font-family: Gilroy-bold;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #fff;
  padding: 0 14px;
  outline: 0;
  cursor: pointer;
}

/* .nav__search :hover button {
  outline: none;
  opacity: 1;
  margin-left: -50px;
} */

/* s */
/* .search-btn {
  height: 35px;
  background-color: white;
  box-sizing: border-box;
  padding-right: 16px;
  background: transparent;
  border-radius: 5px;
  border-left: none;
} */

.header__nav #sort {
  height: 30px;
  border: none;
  color: #a8a4a4;
}
.nav__sort {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.sort-icon {
  color: #a8a4a4;
}

/* .nav__sort #newArrivals {
  height: 30px;
  border: none;
  text-transform: capitalize;
  font-family: "Open Sans";
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #a8a4a4;
} */

.aside .left__sidebar {
  display: flex;
  flex-direction: column;
  width: 54px;
  background: #fff;
  position: fixed;
  height: 100%;
}
/* .left__sidebar {
  position: fixed;
  z-index: 1000;
  background-color: white;
} */
ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style-type: none;
  margin-left: -25px;
  border-right: 1px solid #dde3ee;
}
.left__sidebar ul li {
  width: 30px;
}
.left__sidebar-logo {
  position: relative;
  padding: 28px 10px 29px 10px;
  border-bottom: 1px solid #dde3ee;
}
.left__sidebar-logo img {
  width: 39px;
}
.nav__sort option {
  display: flex;
  justify-content: space-between;
}

select #sort #newArrivals {
  border-radius: 8px;
  width: 100px;
  height: 20px;
  font-size: 13px;
  outline: 0;
  color: #29304b;
  border: 1px solid rgba(95, 102, 115, 0.1);
}
.container {
  display: flex;
  flex-direction: column;
}

.right__sidebar {
  background: #ecedf5;
  display: flex;
  flex-direction: row;
  height: 100%;
}
.cartItem {
  display: flex;
  flex-direction: row;
  width: 300px;
  margin: 50px;
}
.main {
  padding: 100px;
  /* position: fixed; */
  z-index: 1000;
}

@media all and (min-width: 768px) {
  .container {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .left__sidebar {
    order: 1;
    flex: -1;
  }

  .right__sidebar {
    order: 2;
    flex: -1.5;
  }

  main {
    flex: 3;
    order: 3;
  }
}

.nav .right__sidebar {
  margin: 5px;
}
.subMenu__dropbtn {
  background-color: #49547d;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 257px;
}
.subMenu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 257px;
}

.subMenu__dropdownbtn {
  display: inline-block;
  width: 257px;
  color: #fff;
  padding: 10px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  background-color: #9da9d5;
  /* opacity: 0.7; */
}
.subMenu__shipFrom {
  margin: 15px;
  width: 90%;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 500;
  color: #29304b;
  padding: 12px;
  text-transform: capitalize;
  border-radius: 4px;
  border: none;
}

.subMenu__shipTo {
  margin: 15px;
  width: 90%;

  font-family: Gilroy;
  font-size: 14px;
  font-weight: 500;
  color: #29304b;
  padding: 12px;
  text-transform: capitalize;
  border-radius: 4px;
  border: none;
}
.subMenu__selectSupplier {
  margin: 15px;
  width: 90%;

  font-family: Gilroy;
  font-size: 14px;
  font-weight: 500;
  color: #29304b;
  padding: 12px;
  text-transform: capitalize;
  border-radius: 4px;
  border: none;
}
.subMenu__resetfilter {
  margin: 15px;
  height: 41px;
  width: 90%;
  display: block;
  background: #61d5df;
  color: #fff;
  font-weight: 400;
  text-align: center;
  border: 1px solid #61d5df;
  border-radius: 4px;
  font-size: 13px;
  padding: 10px 0;
  cursor: pointer;
  text-transform: uppercase;
  outline: 0;
}
.subMenu__selectSupplier {
  margin: 15px;
}
.dropdown-content {
  display: none;
  /* position: absolute; */
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #776cd3;
}

.range-frame {
  margin: 15px;
}
.price-range__title {
  font-family: Gilroy;
  margin-left: 3px;
  color: #323949;
  font-size: 12px;
  margin: 15px 0 15px;
}

.modal__item-image img {
  display: block;
  max-width: 60%;
  max-height: 100%;
  margin-left: 75px;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  transition: all 0.3s;
  transform: scale(1);
}
.modal__item-image:hover img {
  transform: scale(1.1);
}
.price__item {
  margin-left: 75px;
  padding-bottom: 30px;
  padding-top: 0;
}
.modal__product {
  width: 200px;
  height: auto;
}
.modal-item__right {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 45%;
  background-color: #efeef5;
  border-radius: 15px;
}

.price__item {
  margin: 20px 20px 60px 20px;
  width: 80%;
  height: 50px;
  padding: 9.3px 29px 8.3px 20px;
  border-radius: 7px;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
  border: 1.5px solid #fff;
  background-color: #efeef5;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.price__item-Cost,
.price__item-Profit {
  border-left: 2px solid white;
  padding-left: 20px;
}
.item_title {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.09;
  text-align: left;
  color: #0c0b0b;
  margin-top: 10px;
  margin-bottom: 80px;
  word-wrap: break-word;
  margin-right: auto;
}
.item_productdesc {
  margin-right: auto;
}
.modal-item__left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 55%;
  padding-left: 40px;
  padding-right: 40px;
  gap: 20px;
}
.item_description {
  border-top: 1px solid gray;
  padding-top: 30px;
}
.modal__product {
  width: 0px;
  height: auto;
  margin-top: 10px;
}
.modal-backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 14, 70, 0.7);
  z-index: 1250 !important;
}
.modal-content-wrapper {
  position: fixed;
  width: 80%;
  height: auto;
  background: white;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  border-radius: 15px;
}
